.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

.presentazione,
.link {
    flex: 1 1 0;
}

.link ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        justify-content: center;
    }
}
